#container {
    margin: 50px auto;
    padding-top: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    color: #525456;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes wave {
  0% { 
    transform: translateX(-105px)
  }
  100% { 
    transform: translateX(0)
  }
}

hr {
  margin: 1rem 0;
}

.wavy {
  all: unset;
  opacity: 0.5;
  width: 100%;
  height: 10px;
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
}
.wavy::before {
    content: "";
    background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 156.2 17' enable-background='0 0 156.2 17'><path d='m156.2 0v1c-4.6 0-6.9 3.8-9.3 7.8-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2c-2.4-4-4.7-7.8-9.3-7.8s-6.9 3.8-9.3 7.8c-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2-4.8-7.8-9.4-7.8-6.9 3.8-9.3 7.8c-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2-4.8-7.8-9.4-7.8-6.9 3.8-9.3 7.8c-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2c-2.4-4-4.7-7.8-9.3-7.8v-1c5.2 0 7.7 4.2 10.2 8.2 2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.5-4 5.1-8.2 10.2-8.2 5.2 0 7.7 4.2 10.2 8.2 2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.5-4.1 5-8.2 10.2-8.2s7.7 4.2 10.2 8.2c2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.5-4.1 5-8.2 10.2-8.2s7.7 4.2 10.2 8.2c2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.7-4 5.2-8.2 10.4-8.2' fill='black'/></svg>");
    background-repeat: repeat-x;
    width: 300%;
    height: 100%;
    position: absolute;
    animation: wave 10s linear infinite;
}

.fade-in {
  animation-name: fadeIn;
}


h1, h2, h4 {
    color: #272727;
}

h2 {
  margin-bottom: 1rem;
}

#container > #profile-pic {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url("me.jpg");
    background-size: 100px;
    z-index: 99;
    overflow: hidden;
}

@keyframes imageAnimation {
    to {
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }
}

#container > .openAnimation {
    animation: imageAnimation 0.2s alternate;
    animation-iteration-count: 2;
}

#projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project {
  position: relative;
  background-color: #f5f5f5;
  padding: 5px 0;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
} 

.project > img {
  background-color: #1c1c1c36;
  margin-left: 0.5rem;
  border-radius: 50%;
  height: 100%;
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s linear;
}

.project > img.loaded {
  opacity: 1;
}

#projects-container .project-details {
  padding: 0 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.project .links {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  transition: opacity 0.5s ease-in-out;
}

.project .links a {
  all:unset;
  cursor: pointer;
}

.project:hover .links {
  opacity: 1;
}

#container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container > ul > li {
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 0.2em 0;
}

#container .status-check {
    appearance: none;
    z-index: -1;
    position: relative;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid rgb(233 236 239);
    border-radius: 0.2em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

#container .status-check::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    box-shadow: inset 1em 1em #686868;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
  }
  
  #container .status-check:checked::before {
    transform: scale(1);
  }

  #container .status-check::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #e9ecef;
    z-index: -1;
  }

  #container .status-check[data-progress='100']::after {  width: 100%; }
  #container .status-check[data-progress='75']::after {  width: 75%; }
  #container .status-check[data-progress='50']::after {  width: 50%; }
  #container .status-check[data-progress='25']::after {  width: 25%; }

  #spotify-card, #movie-card {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
  } 

  #spotify-card > .album-art-container, #movie-card > .poster-art-container {
    position: relative;
    width: 65px;
    margin-right: 20px;
  }

  #spotify-card > .album-art-container > img {
    position: relative;
    width: 100px;
    aspect-ratio: 1/1;
    z-index: 2;
  }

  #movie-card > .poster-art-container > img {
    width: 75px;
    height: 100px;
    z-index: 2;
  }

  #spotify-card > .album-art-container > .record {
    position: absolute;
    background-color: black;
    border-radius: 100%;
    z-index: 1;
    left: 0;
    top: 50%;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    transition: all 0.1s ease-in;
    padding: 20px;
  }
  #spotify-card > .album-art-container > .record::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: repeating-radial-gradient(black, black 2px, #545454 3px, #1c1c1c 3px);
  }

  #spotify-card > .album-art-container > .record::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  #spotify-card[data-playing="true"] > .album-art-container > .record {
    left: 60%;
  }

  #spotify-card[data-playing="true"] > .album-art-container > .record::before {
    left: 50%;
  }

  #spotify-card > .track-details, #movie-card > .movie-details {
    display: flex;
    flex-direction: column;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
  }

  #spotify-card > .track-details > p, #movie-card  > .movie-details > p {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #spotify-card  .track-name, #movie-card .name {
    font-weight: 500;
  }

  #spotify-card  .last-played, #movie-card .last-played {
    padding: 0;
    margin-top: -0.2em;
  }
  
  .media-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .shown{
    display:block;
  }
  .hidden{
    display:none;
  }